<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">
      @if(loginCard) {
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p-card styleClass="mt-10" header="Login" subheader="Faça login com sua conta existente!">
          <div class="flex justify-content-center align-content-center text-align-center">
            <input type="email" pInputText placeholder="Email" formControlName="email">

          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="Senha" formControlName="password">

          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Login" [disabled]="!loginForm.valid"></button>
          </div>
          <span style="cursor: pointer;" class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold" (click)="loginCard = !loginCard">
            Criar conta
          </span>
        </p-card>
        </form>
      }@else {
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUpForm()">
          <p-card styleClass="mt-10" header="Criar conta" subheader="Crie já sua conta gratuida">
          <div class="flex justify-content-center align-content-center text-align-center">
            <input type="text" pInputText placeholder="Nome" formControlName="name">

          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="email" pInputText placeholder="Email" formControlName="email">

          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="Senha" formControlName="password">

          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Criar conta" [disabled]="!signUpForm.valid"></button>
          </div>
          <span style="cursor: pointer;" class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold" (click)="loginCard = !loginCard">
            Faça login
          </span>
          <!-- <div>{{signUpForm.errors| json}}</div> -->
        </p-card>
        </form>
      }
    </div>
  </div>
</div>
