.grid {
  background-image: url('../../../assets/sean-pollock-PhYq704ffdA-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
  flex-wrap: wrap;
  align-content: center;
}

@media (min-width: 1400px) {
  .grid {
    background-position: top;
  }
}

@media (max-width: 1000px) {
  .grid {
    height: 100vmax;
  }
}
